*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(2, 2, 38);
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchContainer{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.searchContainer h1{
    color: white;
    margin: 1rem;
}

.searchContainer input{
    width: 600px;
    padding: 0.8rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    font-size: medium;
    font-weight: 500;
}

.movieCardContainer{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1.5rem;
    width: 100%;
}

.movieCard{
    padding: 1.5rem 1rem;
    background-color: rgb(45, 27, 90);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieCard img{
    width: 250px;
    height: 300px;
}

.movieCard h3{
    margin: 1rem;
    color: white;
}

.movieCard button{
    width: 90%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #ff000d;
    color: white;
    font-size: medium;
    border: none;
}
